[2020-08-26 14:50] HuangJunye opened #1 "PICO-8 port of QPong to celebrate 30th anniversary of Gameboy in Europe"
# Abstract

Port [QPong](https://github.com/HuangJunye/QPong) to [PICO-8](https://www.lexaloffle.com/pico-8.php), a fantasy retro console.

# Description

September 28, 2020 will be the 30th anniversary of Gameboy release in Europe (Why Europe? Because we already missed the 30th anniversary in Japan and US, LOL). [QPong](https://github.com/HuangJunye/QPong) is one of the most famous quantum games

[2020-08-31 03:49] veenaiyuri opened #2 "Quantum Computing and Qiskit as a High School Module"
# Abstract
Quantum Computing and Qiskit as a High School Module

# Description
Raising quantum talents should start before college level education. However, most textbooks and educational material covering the subject of Quantum Computing today are targeted for college level and up. This project aims to start creating a module for high school students to help prepare them to be familiar with basic

[2020-09-02 04:08] JoeJhan opened #3 "Now you’re playing with Quantum - Creativity quantum games"
# Abstract

Design a game about Quantum Computing.

# Description

In 2020, The Animal-Crossing on Nintendo Switch is continuing to break the sales record which is made by itself. Even though in this difficult year, faced with travel restrictions and a lot of sad news, people from all over the world can still have adventure, swimming, fishing, play and communicate together through video games.

<i

[2020-09-02 05:16] R07222062 opened #4 "Testing Fault-Tolerant Computing on Small System"
# Abstract
Test fault-tolerant quantum computing on IBM Q device

# Description
As the size of quantum computer grows it becomes more and more difficult to control each qubit precisely and there will inevitably be some noise during computing. One of the solutions to this is the fault-tolerant code which encodes gate operations into larger structures of logical gates.
Recently Gottesman’s idea of t

[2020-09-02 07:20] wslu42 opened #5 "Quantum Brain Teaser"
# Abstract
Similar to physical brain teaser, by pattern matching in our quantum brain teaser UI users are expected to find hidden logic behind quantum gates operations, and build up quantum intuitions when playing this brain teaser.

# Description
Physical brain teaser was introduced on many occasions not only to entertain people but train our brain in many ways: improving brain processing speed,

[2020-09-02 07:50] wslu42 opened #6 "Project name"
# Abstract
Random sequential absorption (RSA) processes for dimers are a typical toy model find great applications in many critical surface science problems including H2 and O2 catalyst efficiency in fuel cells. In this project by generating a 1D RSA simulation code participants are expecting to showcase how to generate a classical algorithm potentially benefits from quantum advantages.

# Descrip

[2020-09-02 13:33] HuangJunye commented on #4
Does participants have access to IBM Q premium devices since NTU is a IBM Q Hub? If so, perhaps you can try to play with larger devices like the latest 65 qubit ibmq_manhattan. It would be cool to see implementation of heavy hexagon code using Qiskit. See the [paper](https://journals.aps.org/prx/abstract/10.1103/PhysRevX.10.011022) and the [blog](https://www.ibm.com/blogs/research/2020/09/hardware

[2020-09-02 14:25] alfa871212 commented on #2
If I want to join this project, how can I register for the team?

[2020-09-03 00:41] veenaiyuri commented on #2
Thanks @alfa871212 !  You are successfully in!

[2020-09-03 12:51] wslu42 commented on #5
[https://www.ibm.com/blogs/research/2018/07/hello-quantum/](url)

[2020-09-05 13:05] ghost opened #7 "Utilizing the Noise: Quantum Simulation of an Open System"
# Abstract
The theory of open quantum system supports most modern research in quantum mechanics and its applications in many areas. In this project, we would like to design an algorithm which utilize the noise on IBMQ system to simulate an open quantum system. We hope that our result could pave the way to a new perspective of quantum simulation.

# Description

Simulation of a quantum system has b

[2020-09-06 13:16] ArnieHung commented on #6
Hi, @wslu42.
This project sounds fun! May I join this team?

[2020-09-07 07:29] t-imamichi opened #8 "Solve an optimization problem with Qiskit Aqua Optimization"
# Abstract
Aqua introduced a new optimization module in May 2020. It automatically generates an Ising Hamiltonian for an optimization problem and you can solve it with quantum computers by applying VQE or QAOA. Let's come up with a unique optimization problem or puzzle and solve it with quantum computers.

# Description
Solving an optimization problem with quantum computer requires translating the

[2020-09-07 08:13] t-imamichi opened #9 "Implement a special converter of Quadratic Program of Qiskit Aqua Optimization"
# Abstract
Implement a new converters of `QuadraticProgram` of Qiskit Aqua Optimization to translate some special types of constraints into penalties of the objective function of QUBO more efficiently than generic converters of Qiskit Aqua.

# Description
When users solve an optimization problem with Qiskit Aqua, they apply `InequalityToEquality` to convert inequality constraints into equality con

[2020-09-07 08:48] m24639297 opened #10 "Variational Quantum Eigensolver"
# Abstract

Implementing variational quantum eigensolver(VQE) for different problems, e.g. chemical ones, on both simulator and IBMQ quantum processor.

# Description

Quantum computing has been considered to possess the capability of tackling some classically intractable problems such as quantum many-body simulation. However the reliability and scalability of the state-of-the-art quantum hardware

[2020-09-07 09:18] veenaiyuri commented on #10
@m24639297 Does this project need a coach? Or, do you already have one. If so, please specify coach's github handle above. Thanks!

[2020-09-07 09:22] t-imamichi commented on #10
VQE is already available as part of Aqua. What do you want to implement in particular?
See [Simulating Molecules using VQE](https://qiskit.org/textbook/ch-applications/vqe-molecules.html)

[2020-09-07 09:31] itoko opened #11 "Making Qiskit transpiler more powerful (Adding a new pass)"
# Abstract
Qiskit (Terra) manages its transpilation (circuit to circuit transformation) processes as `passes`.
The pass framework allows you to easily add a task you want to be done when transpiling.
Let's come up with a useful (but currently missing) pass, implement it and push it to Qiskit.

# Description
When you `execute()` a circuit, the circuit is always transpiled (`transpile()` is called)

[2020-09-07 10:27] leo07010 commented on #6
Hi here, I am interest in this object.
@wslu42.  @ArnieHung
May I join with u guys?

[2020-09-07 11:03] ethanlee515 commented on #1
Gameshell [claims to be compatible with Pygame](https://wiki.clockworkpi.com/index.php/Main_Page#Software), and it seems like somebody [has made it work](https://forum.clockworkpi.com/t/install-and-run-pygame-on-gameshell-with-miniconda/5495/6). There might not be a need to port QPong to PICO-8 in order to play it on a GameShell, plus PICO-8 costs money and Lua is such a terrible language to work

[2020-09-07 12:00] ethanlee515 commented on #1
I took a look at the not-very-modern tool (GBDK) you mentioned, just to see how hard is it to port QPong to the actual Gameboy. GBDK supports only C and assembly; I was hoping that it might just be a C library that I can build and link as C++, but that's far from the case too. GBDK includes a compiler that targets the ASxxxx assembly, and a linker that builds ASxxxx into binary; I can't fit C++ in

[2020-09-07 12:26] m24639297 commented on #10
Though VQE has been implemented in Aqua, building a VQE on one's own could be helpful for beginners to understand the physics and notion behind it. Besides, as mentioned in the description, circuit design, measurement strategy, and error mitigation etc are all important to VQE and are still under studying. Any of the new-proposed ideas can be implemented if participants regard it potentially usefu

[2020-09-07 12:38] R07222062 opened #12 "Simulating Quantum Time Reversal Operator on IBM Q Device"
# Abstract
Implement both time evolution and time reversal evolution operations to a quantum state on IBM Q device

# Description
Due to the time symmetry of Schrodinger equation in quantum mechanics. If an initial state is evolved forward in time by a Hamiltonian. One could use the same Hamiltonian to construct a time reversal operator such that when evolving the evolved state forward in time wit

[2020-09-07 12:40] HuangJunye commented on #1
Pico-8 games aesthetically look closer to gameboy games than pygame games. I don't know Lua in general, but I enjoy coding pico-8's Lua version. It's much better than C or C++. You are right the major drawback of pico-8 is that it costs money. I can sponsor one copy of pico-8 for the team.

[2020-09-07 12:46] HuangJunye commented on #1
I really want to make a real gameboy version of QPong but it requires much more work than what we can manage in a hackathon. But I will definitely be interested in exploring with you after the hackathon.

[2020-09-07 13:03] ethanlee515 commented on #1
The first step would be to port MicroQiskit to C, wouldn't it? Either ways, I'll go download Pico-8 for now, and we'll chat tomorrow? Can't wait to meet you in person. This is 李懿 (Yi Lee) from 中央研究院 (Academia Sinica) btw. :)

[2020-09-07 13:04] ch3cho19941010 opened #13 "A Quantum Bagua Divination Machine"
# Abstract
 We would like to utilize the properties of quantum particles building a simple model of a Bagua oracle machine and investigate its possible applications.

# Description
Based on quantum statistics, all particles can be sorted by two different statistics systems, Fermi–Dirac statistics and Bose–Einstein statistics described as fermions and bosons separately. By the property of these two

[2020-09-07 13:13] HuangJunye commented on #1
Yes you are right. Perhaps we can take that as a project. There is a C++ version of MicroQiskit but I don't know how straightforward it is to port to C.

I won't be able to join in person due to the pandemic, unfortunately. But I'll be joining virtually via Google Meet. Talk to you tomorrow!

[2020-09-07 13:24] ethanlee515 commented on #1
The C++ version does its dynamic memory allocation using std::vector. We'd need to rewrite that at the very least. How straightforward that is would then depend on if we allow the use of, say, GNU C Library. The rest I imagine are number-crunching, which is similar from one language to the next... Either ways, I'd imagine it can be done well within a day; maybe I can throw in a Java version too wh

[2020-09-07 13:36] HuangJunye commented on #1
Of course I would prefer to work on PICO-8 port. I have very clear idea of the port and I am sure it can be done within 24 hours. A gameboy port requires a lot more research so there will be many more uncertainties. That's why I suggested porting MicroQiskit to C as a hackathon project with the hope that the team can continue working on gameboy port of QPong after the hackathon.

I think we could

[2020-09-07 14:08] ace314 opened #14 "Randomized Benchmarking for Different Primitive Gate Set"
# Abstract
Design an algorithm that can implement randomized benchmarking with different primitive gate set on IBM Q device.

# Description
Randomized benchmarking (RB) is a protocol to extract the gate operation error of quantum computing, regardless of the state preparation and measurement (SPAM) error. Currently `qiskit ignis`  package provide RB functions for Clifford elements decomposed by  t

[2020-09-07 14:39] ikkoham opened #15 "Demonstration of quantum violation of local or noncontextual realism"
# Abstract

Einstein, Podolsky, and Rosen (EPR) pointed out that quantum theory (QT) is not a "complete" theory[1]. Well-known Bell[2] and Clauser-Horne-Shimony-Holt[3] inequalities showed inconsistency between the local realism and QT, and Bell[4] and Kochen-Specker[5] discussed the inconsistency between noncontextual realism and QT.
 In this project, our goal is a demonstration of such a violati

[2020-09-07 14:43] wslu42 commented on #6
Welcome on board :)

[2020-09-07 14:46] leo07010 commented on #6
Is this related to quantum walk?

[2020-09-07 14:48] ace314 opened #16 "Quantum Pattern Matching"
# Abstract
Implement quantum pattern matching algorithm on IBM Q device.

# Description
The d-dimensional pattern matching problem is to find a target pattern of length <img src="https://render.githubusercontent.com/render/math?math=m^d"> within a text of length <img src="https://render.githubusercontent.com/render/math?math=n^d"> <img src="https://render.githubusercontent.com/render/math?math=(m<

[2020-09-07 14:50] Lufter commented on #6
I think so, Grover search is a typical application of quantum walk.

[2020-09-07 14:53] leo07010 commented on #6
Nice, I think maybe I am suitable in this object. Could I join with u?

[2020-09-07 15:23] wslu42 commented on #6
Welcome! @leo07010

[2020-09-07 15:27] leo07010 commented on #6
thx, @wslu42

[2020-09-07 15:30] mstf7249 opened #17 "Integrating the proposed simulator into Qiskit"
# Abstract

We have been developing a new quantum circuit simulator which can simulate quantum circuits efficiently. We would like to contribute our simulator to Qiskit in a near future. Therefore, our project aims at integrating our simulator into Qiskit beforehand. We will make a request to make the contribution happen afterwards.

# Description

Quantum computing is greatly advanced in recent y

[2020-09-07 16:00] ArnieHung commented on #6
Hi @leo07010, I am happy to have you in the team!
Btw, my slack ID is @Arnie, you can add my contact :)

[2020-09-07 16:04] leo07010 commented on #6
ok,I had already send a message to u

[2020-09-08 00:14] nkanazawa1989 opened #18 "Generation of stretched single qubit gates for Richardson error extrapolation"
# Abstract
With [QiskitPulse](https://arxiv.org/abs/2004.06755) you can create custom quantum gates that is not provided by a backend. One of easy and practical examples is single qubit gates. In this project, you generate `u1, u2, u3` gates with different stretch factor using QiskitPulse and run randomized benchmarking algorithm to estimate systematic error.

# Description
In IBM Quantum backends

[2020-09-08 04:06] paulpaul60229 opened #19 "Quantum simulation of one-dimensional systems on IBMQ device"
# Abstract

Simulating the dynamical behavior of one-dimensional quantum systems on IBMQ device.
# Description

One of the most useful applications of quantum computation is the simulation of quantum systems. For classical computers to represent things that could exist in multiple states, the required resource exponentially grows with system size. Therefore, it is unfeasible to simulate many physi

[2020-09-08 04:35] itoko opened #20 "Toward more accurate single qubit measurement"
# Abstract
Answering this question is our goal: How accurately can we measure a qubit?
At pulse level, when measuring a qubit, we apply measurement pulse to the qubit and acquire the response to distinguish the state of qubit (|0> or |1>). Usually, IBM Q systems measure all of the qubits at once, that means measurement pulses are applied to all the qubits. How much is the measurement result of a q

[2020-09-08 05:08] starktech23 commented on #7
Is this group still looking for a coach? I don't see a coach listed on the members list.

[2020-09-08 05:15] starktech23 commented on #17
Is this group still looking for a coach or @mstf7249 are you a coach for this group? I don't see a coach listed on the members list.

[2020-09-08 05:20] mimihuang commented on #1
interesting! May I join?

[2020-09-08 05:20] hhorii opened #21 "Support SIMD optimization for Density and Unitary Matrix Simulators"
# Abstract
Aer supports [SIMD optimization](https://github.com/Qiskit/qiskit-aer/pull/684) since Qiskit-Aer 0.6.0 for `statevector` method of `QasmSimulator` but not for `density_matrix` method of `qasm_simulator` and `UnitaryMatrixSimulator`.
This challenge is aimed to add supports of SIMD optimization for density and unitary matrix simulators.

# Description

`satevector` method of `QasmSimulato

[2020-09-08 05:20] em17611 commented on #1
May I join?

[2020-09-08 05:21] uyry6 commented on #1
++

[2020-09-08 05:23] kylevirtuous1211 commented on #2
I would like to join your team.

[2020-09-08 05:25] starktech23 commented on #13
Is this group still looking for a coach?

[2020-09-08 05:26] kylevirtuous1211 commented on #2
I am a senior high which has a great interest in quantum computing, I think I would be a great asset for our team due to my position.

[2020-09-08 05:28] Timwu0927 commented on #16
I would like to join this project

[2020-09-08 05:28] mimihuang commented on #7
I am in

[2020-09-08 05:29] em17611 commented on #7
May I join?

[2020-09-08 05:29] LeeJ-art commented on #2
Hello, can I join this project? if i a freshman
Thanks

[2020-09-08 05:30] kevinyin9 commented on #8
Hello, I would like to join your team.

[2020-09-08 05:31] koreal6803 opened #22 "Application of quantum optimization"
# Abstract
Our goal is to find the best solution to a problem (according to some criteria) from a set of possible solutions. Mostly, the optimization problem is formulated as a minimization problem, where one tries to minimize an error which depends on the solution: the optimal solution has the minimal error. We would like to apply quantum optimization problems to real world applications, such as

[2020-09-08 05:32] KelvinYang0320 commented on #13
Yes, we are still looking for a coach.

[2020-09-08 05:34] leo07010 commented on #6
Does anyone commented on question six?LOL

[2020-09-08 05:35] veenaiyuri commented on #2
Hi @kylevirtuous1211 and @LeeJ-art ! Welcome to the team!

[2020-09-08 05:36] billboliao commented on #8
Hi, I would like to join your team.
I am a communication engineering student ,and I am interested in QAOA problem.

[2020-09-08 05:39] uyry6 commented on #7
I am in

[2020-09-08 05:40] mstf7249 commented on #17
Hi,

We are still looking for a coach.

Thanks.

On Tue, Sep 8, 2020 at 1:15 PM Samanvay Sharma <notifications@github.com>
wrote:

[2020-09-08 05:41] ghost commented on #7
Yes, we're still looking for a coach

[2020-09-08 05:41] LeeJ-art commented on #2
What should I do next? Thanks👍

Yuri Kobayashi <notifications@github.com> 於 2020年9月8日 週二 下午1:35寫道：

[2020-09-08 05:42] ghost commented on #7
Thank you all. Now we have 5 members in total.

[2020-09-08 05:42] Yi-Huaaa commented on #16
+1, it sounds interesting, may I join the group? Thank you!

[2020-09-08 05:43] starktech23 commented on #7
@veenaiyuri members complete - to be assigned, only coach needed.

[2020-09-08 05:43] xiaotai-yang commented on #18
I would like to join this project~

[2020-09-08 05:44] drazermega7203 commented on #16
Look great. Count me in!

[2020-09-08 05:48] HuangJunye commented on #1
@mimihuang @em17611 @uyry6 I saw your messages in emails but not on GitHub. Are you interested in working on this project?

[2020-09-08 05:48] itsuka021 commented on #18
I'm interesting in joining this project.

[2020-09-08 05:50] bucket0810 commented on #6
Hello, @wslu42.
This idea sounds great! May I join this team?

[2020-09-08 05:52] aoowweenn opened #23 "Quantum random number generator (QRNG)"
# Abstract

We want to develope a new implementation to generate random bit sequences instead of current straight forward Hadamard scheme.
# Description
[Presentation](https://docs.google.com/presentation/d/1HiGBot246dxw7jxS8rnfUd6K_TQcXp2KKUqxfTUBNEE/edit?usp=drivesdk)

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @aoowweenn

#

[2020-09-08 05:52] leo07010 commented on #6
you may discuss with us .
www

[2020-09-08 05:52] yaya870611 commented on #6
This idea sounds fun! May I join this team?
I'm the chemical engineering student

[2020-09-08 05:53] Kuo-TingKai commented on #10
May I join in this project? thanks

[2020-09-08 05:53] Lufter commented on #10
I am an undergrad student from NCKU, may I join this team?

[2020-09-08 05:54] kylevirtuous1211 commented on #2
What is the plan? Is everyone here in the meeting room?

[2020-09-08 05:54] mimihuang commented on #1
Dear Mr. Huang,

Sorry, our friends ask us to join another group. Thus, we need to give up
this project. Thanks for your invitation.

Sincerely yours,
Miriam Mimi Huang

Junye Huang <notifications@github.com> 於 2020年9月8日 週二 下午1:48寫道：

[2020-09-08 05:54] YumaNK opened #24 "Image Recognition using Quantum Machine Learning"
# Abstract
Using Quantum Machine Learning (such as Quantum Support Vector Machine; QSVM), classify images of two types of digits (0 or 1). Since current QSVM just able to process few feature dimension, one need to classically convert image data into data with few dimension (2~4dim) using PCA(ML technique to reduce dimension.) After its process, one can use quantum machine learning to classify its

[2020-09-08 05:55] YU-ZU commented on #19
Hi~I am interested in this topic, can I discuss with you?

[2020-09-08 05:55] bucket0810 commented on #6
@leo07010 where are you guys? there are so many people lol

[2020-09-08 05:55] leo07010 commented on #6
We are in the middle of this room.You can come to discuss with us.LOL

[2020-09-08 05:57] starktech23 commented on #7
@LiluCinTati can you please add a comment here so that I can assign you to the group?

[2020-09-08 05:57] bucket0810 commented on #6
Can you stand up or walk to the ground?

[2020-09-08 05:57] tsukiyashirokisaki commented on #16
I am interested in this project.  I would like to join. Thanks

[2020-09-08 05:57] em17611 commented on #1
Sorry, I decide to join another project and give up this one.

[2020-09-08 05:58] ethanlee515 commented on #1
I'm doing this project though :)

[2020-09-08 06:00] HuangJunye commented on #1
@mimihuang @em17611 No problem! @ethanlee515 Great! You are in!

[2020-09-08 06:04] starktech23 commented on #2
@LeeJ-art @kylevirtuous1211 yes the meeting's on, more info to follow there and on Slack.

[2020-09-08 06:13] FishGithub123 opened #25 "Representing Stock Price and Financial Behavior Using Quantum Computing"
# Abstract
Representing Stock Price and Financial Behavior Using Quantum Computing

# Description
For example, if the stock price goes up, we represent the longer side as the real number  and the shorter side would be represented as the complex number. Also, if the stock price goes down, we represent the shorter side as the real number  and the longer side would be represented as the complex numbe

[2020-09-08 06:20] starktech23 commented on #19
@YU-ZU are you interested in joining this issue? I can add you.

[2020-09-08 06:22] YU-ZU commented on #19
Ok, thank you

[2020-09-08 06:28] nkanazawa1989 commented on #18
Welcome! :) Please assign youself to the issue (top right of this page). If you are not familiar with pulse you can learn the pulse syntax with [this module](https://qiskit.org/documentation/tutorials/pulse/index.html).

[2020-09-08 06:31] kevinyin9 opened #26 "Solve optimization problems with Quantum Approximation Optimization Algorithm(QAOA)"
# Abstract

QAOA can be used to solve combinatorial optimization problems. It briefly has a better approximation ratio than any known polynomial-time classical algorithm. QAOA can solve some problems that a classical computer cannot.

# Description

We'd like to solve some NP-complete graph problems like Maxcut or Traveling Salesman Problem with QAOA.
Because QAOA is a quantum-classical hybrid alg

[2020-09-08 06:33] starktech23 commented on #26
@billboliao please comment here so that you can assign yourself to this issue or I can assign you.

[2020-09-08 06:34] starktech23 commented on #26
Is this group looking for a coach? I don't see a coach in the members list.

[2020-09-08 06:34] Louisj6 commented on #13
Hello everyone :)

[2020-09-08 06:34] LinCalvert commented on #25
i'm in

[2020-09-08 06:35] kevinyin9 commented on #26
Yes. This group is looking for a coach.

[2020-09-08 06:36] starktech23 commented on #25
@FishGithub123 Is this issue by a coach or are you looking for a coach?

[2020-09-08 06:37] billboliao commented on #26
hello

[2020-09-08 06:37] LinCalvert commented on #25
i'm in

[2020-09-08 06:38] LinCalvert commented on #25
@starktech23  we need  a coach

[2020-09-08 06:40] FishGithub123 commented on #25
@LinCalvert  good
@starktech23  we are looking for a coach

[2020-09-08 06:40] starktech23 commented on #25
@LinCalvert please assign yourself if you're interested to join this project. I have added a coach request in the meanwhile.

[2020-09-08 06:46] starktech23 commented on #6
@Lufter ~~are you joining this group? You can assign yourself from the top right if you're interested.~~ Never mind, I think you're joining another issue :)

[2020-09-08 06:51] LiluCinTati commented on #7
Hi :))

[2020-09-08 06:52] starktech23 commented on #17
@Chilsan @ChienKaiMa please drop a comment here so that you can assign yourselves to this issue from the top right corner or I can assign you if you like.

[2020-09-08 06:54] supergravity commented on #18
I'm interested

[2020-09-08 06:56] darkbtf commented on #16
Interesting, please count me in :)

[2020-09-08 06:56] yoga4ni commented on #16
I would like to join, please count me in, thanks!

[2020-09-08 06:59] HuberyMing commented on #16
Looks interesting. May I join?

[2020-09-08 06:59] ChienKaiMa commented on #17
Hello 👋

[2020-09-08 07:02] alfa871212 commented on #2
@LeeJ-art , @kylevirtuous1211  do we have the fourth teammate?

[2020-09-08 07:02] treger-8105 commented on #24
Hi I want to join this project.
Can I join ?

[2020-09-08 07:03] kylevirtuous1211 commented on #2
i don't know

[2020-09-08 07:04] kylevirtuous1211 commented on #2
where is everybody? I am at the back of the room.

[2020-09-08 07:08] alfa871212 commented on #2
Alright, I wear an orange t-shirt at the right of the room. Maybe we could have some discussion in advance.

[2020-09-08 07:09] opwerwher commented on #10
I have some interest in this topic, can I join it?

[2020-09-08 07:09] Kuo-TingKai commented on #10
@m24639297  can we find somewhere to gather all people and discuss our issue?

[2020-09-08 07:11] starktech23 commented on #16
@yoga4ni @HuberyMing this group seems to be full for now, please take a look at other issues you're interested in. I will share an update if this group has a vacancy. Thanks!

[2020-09-08 07:12] LeeJ-art commented on #2
In meetimg room?

kylevirtuous1211 <notifications@github.com> 於 2020年9月8日 週二 下午3:04 寫道：

[2020-09-08 07:13] alfa871212 commented on #2
Yes

[2020-09-08 07:14] LeeJ-art commented on #2
Hello, are you in the meeting room right now?

alfa871212 <notifications@github.com> 於 2020年9月8日 週二 下午3:08 寫道：

[2020-09-08 07:15] Aaronnnnnic commented on #26
i am in

[2020-09-08 07:15] alfa871212 commented on #2
Yes

[2020-09-08 07:16] jpchou999 commented on #26
Sounds great! I am in.

[2020-09-08 07:16] ace314 commented on #16
Great! Let's hack fellows :)

[2020-09-08 07:20] LeeJ-art commented on #2
If you are in the meeting room, we are in front of the door. Thanks

kylevirtuous1211 <notifications@github.com> 於 2020年9月8日 週二 下午3:04 寫道：

[2020-09-08 07:21] starktech23 commented on #22
@mandy6803 @belmirochu @chs14 @YanChengWeiTony please drop a comment here to assign yourselves to this issue from the top-right corner, or I can assign you if you prefer that.

[2020-09-08 07:21] starktech23 commented on #22
@koreal6803 is this looking for a coach?

[2020-09-08 07:27] LinCalvert commented on #25
@LinCalvert

[2020-09-08 07:28] starktech23 commented on #25
@LinCalvert are you joining this issue?

[2020-09-08 07:30] kylevirtuous1211 commented on #2
sorry, I was eating. Are you still at the door?

[2020-09-08 07:31] FishGithub123 commented on #25
@starktech23  yes he is

[2020-09-08 07:31] kylevirtuous1211 commented on #2
i am the one in orange at the back of the door.

[2020-09-08 07:31] yoga4ni commented on #17
I would like to join, please count me in, thanks!

[2020-09-08 07:33] LeeJ-art commented on #2
ok, I see you .

kylevirtuous1211 <notifications@github.com> 於 2020年9月8日 週二 下午3:31寫道：

[2020-09-08 07:33] alfa871212 commented on #2
We are on your left side. one with orange shirt and the one on my left side.

[2020-09-08 07:34] yoga4ni commented on #17
Excuse me, pls assign me again, thanks~

[2020-09-08 07:35] EazyReal commented on #17
Hi, I am YT Lin.
Please add me to the issue.

[2020-09-08 07:35] kylevirtuous1211 commented on #2
I see you guys. What are you guys going to present? Anything on your mind?

[2020-09-08 07:36] HuberyMing commented on #16
I see. Thanks for the info.

[2020-09-08 07:37] mandy6803 commented on #22
Yes, It will be nice to have you as our coach! Thank you for joining us!

[2020-09-08 07:38] YanChengWeiTony commented on #22
Good

[2020-09-08 07:39] belmirochu commented on #22
Yes, we are looking for a coach. thanks for your helping!!

[2020-09-08 07:40] chs14 commented on #22
Hi

[2020-09-08 07:46] tom40109 commented on #3
i am interesting about this issue
may i join this issue?

[2020-09-08 07:50] csjhang commented on #17
Hello, I am sorry for my late response

[2020-09-08 07:54] johnsonkao0213 commented on #17
Excuse me , I am Kao Kuei Chun
I told their team to add me recently.
@starktech23
Can a team has five teammates or not?
If can, please add me to the issue thanks.

[2020-09-08 07:56] starktech23 commented on #17
Hi @Johnson0213, every team can have a max of 5 people and it seems this team already has 5. If you have discussed with their team and there are only 4 members or less I can add you, otherwise please consider looking at other issues. Thanks :)

[2020-09-08 07:59] JoeJhan commented on #3
Of course! Thanks for joining this game design team!

[2020-09-08 08:01] YingCheng-Yang commented on #19
I’m interesting about 1D quench, can i join?

[2020-09-08 08:01] YU-ZU commented on #19
Sorry I accidentally remove myself, can you assign me again? Thank you

[2020-09-08 08:02] anandukmadhu commented on #19
I'm interested. Please add me in.

[2020-09-08 08:03] kylevirtuous1211 commented on #2
Are we going to discuss it in Slack?

[2020-09-08 08:12] johnsonkao0213 commented on #10
@starktech23 can u add me in issue thanks!

[2020-09-08 08:13] hsienhotsou commented on #26
Count me in!

[2020-09-08 08:14] kevinyin9 commented on #26
Hello. Where are you?

[2020-09-08 08:14] billboliao commented on #8
count me in! thanks.

[2020-09-08 08:15] kevinyin9 commented on #8
Hello. I am interested in it.

[2020-09-08 08:16] Aaronnnnnic commented on #8
Hi. I am in !

[2020-09-08 08:16] brucelee0710 commented on #10
i'm in

[2020-09-08 08:18] jpchou999 commented on #8
Hi, we move to here from #26

[2020-09-08 08:18] HuangJunye commented on #7
Do we need a coach for this team?

[2020-09-08 08:19] alfa871212 commented on #1
Hi, can I join the team?

[2020-09-08 08:19] #26 closed, assigned to kevinyin9, jpchou999, hsienhotsou, Aaronnnnnic, billboliao

[2020-09-08 08:19] LeeJ-art commented on #1
can I join in the team? Thanks

[2020-09-08 08:19] billboliao commented on #8
We think that our project is highly correlated to this problem ,so we move from #26
Thanks.

[2020-09-08 08:20] starktech23 commented on #8
Yup, got it. Closed #26. Good luck everyone!

[2020-09-08 08:21] starktech23 commented on #26
@hsienhotsou are you joining #8 as well? Please comment there if you are.

[2020-09-08 08:22] alfa871212 commented on #2
@veenaiyuri , @LeeJ-art  and I would join other team because we can't find the fourth teammates. But still thanks you!

[2020-09-08 08:22] HuberyMing commented on #18
Looks good. May I in?

[2020-09-08 08:23] treger-8105 commented on #19
Hi I want to join this project .
Can I join ?

[2020-09-08 08:28] yaya870611 commented on #6
Sorry, I want to join another group.

[2020-09-08 08:28] kylevirtuous1211 commented on #13
i would like to join

[2020-09-08 08:28] PhysicsQoo commented on #20
Hello I want to join

[2020-09-08 08:28] zuohank commented on #2
l want to join it

[2020-09-08 08:29] yaya870611 commented on #13
I would like to join this team.

[2020-09-08 08:29] starktech23 commented on #6
@yaya870611 no problem, please comment under that group and remove your assignment from here when you do. Thanks!

[2020-09-08 08:30] tom40109 commented on #6
may i join this issue?

[2020-09-08 08:30] tom40109 commented on #3
sorry i decide join another issue

[2020-09-08 08:35] zuohank commented on #1
join it because second team may be break

[2020-09-08 08:37] HuangCheChun commented on #20
I want to join in this group.

[2020-09-08 08:38] JoeJhan commented on #20
Hi ltoko, there are several NTU mentors and we are all interested in this issue.
Maybe we can discuss further about this issue and cooperate with you even though we don't need to present at Hackathon end.

[2020-09-08 08:38] MengChienWang commented on #20
I want to join in this group.

[2020-09-08 08:39] starktech23 commented on #20
@itoko

[2020-09-08 08:44] JoeJhan commented on #3
No worries!

[2020-09-08 08:44] veenaiyuri commented on #2
no problem @alfa871212 and @LeeJ-art ! hope you found another team!

[2020-09-08 08:45] starktech23 commented on #25
@kevinexe3017 @hsienhotsou @syiu0415tw please drop a comment here to be assigned to this issue.

[2020-09-08 08:45] aoowweenn commented on #11
It is very important to design a good pass to improve the performance of quantum program.
I just have a little bit studying about LLVM. Other from Openpulse, compiler is somehow my interest. What a pity that no member choose this topic. Hope we can have some cooperation after the camp.

[2020-09-08 08:54] #24 closed, assigned to YumaNK

[2020-09-08 08:55] #2 closed

[2020-09-08 08:55] #3 closed

[2020-09-08 08:55] #4 closed

[2020-09-08 08:55] #5 closed

[2020-09-08 08:55] #9 closed, assigned to nobody

[2020-09-08 08:55] #11 closed, assigned to nobody

[2020-09-08 08:55] #12 closed, assigned to nobody

[2020-09-08 08:55] #14 closed, assigned to nobody

[2020-09-08 08:56] #15 closed, assigned to nobody

[2020-09-08 08:56] #21 closed, assigned to hhorii

[2020-09-08 08:56] #23 closed, assigned to nobody

[2020-09-08 09:00] ikkoham commented on #7
If you need a coach now, I can.

[2020-09-08 09:01] HuangJunye commented on #7
@ikkoham Thank you!

[2020-09-08 09:04] HuangJunye commented on #22
@t-imamichi Do you have the bandwidth to coach this team as well?

[2020-09-08 09:05] wslu42 commented on #6
Welcome folks! I'm running on US east coast time zone so I'm 12hr behind your local time. When you are ready to start introduce ourselves please let me know either here or over Slack. Good luck and have fun!

[2020-09-08 09:06] t-imamichi commented on #8
I added members to the description. If anyone is missing, please let me know.

[2020-09-08 09:06] aoowweenn commented on #21
SIMD support for simulator is quite important to make qiskit be a perfect toolchain. I have some parallel programming experience (e.g. CUDA) and have learned linear algebra for computational physics. I will pay sometime to see if I can envolve this topic after the camp.

[2020-09-08 09:07] jpchou999 commented on #8
Hi Takashi Imamichi

Thank you ^_^.

Kind regards,
JP
======================================================
Jyh-Pin Chou, A*ssistant Professor*
[image: 「ORCID」的圖片搜尋結果] : 0000-0001-8336-6793
Department of Physics
*National Changhua University *
*of Education*
======================================================

Takashi Imamichi <notifications@github.com> 於 2020年9月8日 週二 下午5:06寫道：

[2020-09-08 09:08] starktech23 commented on #21
@aoowweenn a lot of good topics even in closed issues, I hope people try and work on them outside of the hackathon too as challenges.

[2020-09-08 09:11] HuangJunye commented on #1
@ethanlee515 @LeeJ-art @zuohank @alfa871212 Can you look for me in Qiskit Slack? My Slack ID is `@Junye`. Let's create a group chat and start discussion.

[2020-09-08 09:14] itoko commented on #20
@qoohehe @MengChienWang @HuangCheChun Welcome! If you have any question on this project, please ask me via slack (my Slack name is @itoko-san). Enjoy!

[2020-09-08 09:15] mandy6803 commented on #22
@starktech23 Thank you for being our coach. Please find the slack invitation link below to discuss our topic.
We will put our idea on it for you later to review. Look forward to your comment.
https://join.slack.com/t/qiskit/shared_invite/zt-hdktx2wg-j7OujbYiH5CGG1_m3Kk6Tw

[2020-09-08 09:16] t-imamichi commented on #8
I would like you to open (1) a github repo to work together and (2) a slack channel of the team. Then, please start with going through the materials in my description and discussion what kind of optimization problem to address.

[2020-09-08 09:17] t-imamichi commented on #22
I see @starktech23 is already assigned as a coach. If they need any help, I can support them.

[2020-09-08 09:17] nkanazawa1989 commented on #20
Advanced: It's also interesting to see the impact of measurement of superposition state on neighboring qubits (especially it's also in the superposition state). Because physically interconnected qubits are coupled by static ZZ interaction, the collapse of superposition state may induce phase accumulation of neighboring qubits.

[2020-09-08 09:19] starktech23 commented on #22
@t-imamichi I didn't know I was assigned as coach, but I'll need your support as well if I am to coach 😆 sorry for the confusion.

[2020-09-08 09:20] t-imamichi commented on #22
No problem!

[2020-09-08 09:22] mandy6803 commented on #22
@t-imamichi @starktech23 Thank you for both of your supports! Sorry for the confusion!

[2020-09-08 09:23] starktech23 commented on #22
@mandy6803 can you and the team please start by creating a Slack DM group to stay connected, and creating a GitHub repo with all of your team members as collaborators to work together? Add me as well so I can take a look whenever you need me to.

[2020-09-08 09:24] kevinyin9 commented on #8
Sure.
I open a Github repo. Here is the link
https://github.com/kevinyin9/Solve-an-optimization-problem-with-Qiskit-Aqua-Optimization

[2020-09-08 09:27] starktech23 commented on #8
@kevinyin9 you might want to edit out /settings from your URL

[2020-09-08 09:28] kevinyin9 commented on #8
Thanks. I removed it.

[2020-09-08 09:29] starktech23 commented on #22
Oh I see @koreal6803 already has a repo prepared. Everyone please join as contributors there and communicate via Slack.

[2020-09-08 10:52] wslu42 commented on #13
I can coach this team, feel free to add me. Thanks!

[2020-09-08 13:42] LinCalvert commented on #25
@LinCalvert

[2020-09-08 13:44] FishGithub123 commented on #25
@LinCalvert

[2020-09-08 13:45] FishGithub123 commented on #25
@kevinexe3017
@hsienhotsou
@syiu0415tw

[2020-09-08 13:55] SyiuTW commented on #25
@syiu0415tw

[2020-09-08 14:07] HuangJunye commented on #17
Hi team, I don’t know about simulator very much so I am not sure I can help you a lot. But if no one better is available, I can be your coach.

[2020-09-08 14:16] hsienhotsou commented on #25
@hsienhotsou

[2020-09-08 14:37] alanspace commented on #17
Hello, I hope I can help and cheers.

[2020-09-08 14:49] hhorii commented on #17
I can be a coach with @HuangJunye .

[2020-09-08 14:50] starktech23 commented on #17
@hhorii thank you :D

[2020-09-08 14:59] HuangJunye commented on #17
@hhorii Thanks a lot Horii san.

[2020-09-08 15:12] hhorii commented on #17
Let me introduce an example to add a new simulator to Qiskit.
https://github.com/qiskit-community/qiskit-jku-provider
(I guess that this repository is not maintained now)

I believe that you have another option of integration with provider-level instead of with method-level in Aer's QasmSimulator.

[2020-09-08 15:34] ChienKaiMa commented on #17
Thanks @hhorii.  We are planning to integrate with provider-level, and we are planning to use pybind11 for our binding.

[2020-09-08 23:42] JansenZZ commented on #25
Happy to help as a coach if still needed. Can I be assigned?

[2020-09-09 02:23] Louisj6 commented on #13
[64卦.xlsx](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5192240/64.xlsx)

[2020-09-09 02:45] veenaiyuri commented on #20
This issue will be closed to be discussed after the hackathon for potential collaboration.

[2020-09-09 02:45] #20 closed, assigned to itoko, PhysicsQoo, MengChienWang, HuangCheChun

[2020-09-09 03:36] yaya870611 commented on #13
[64.txt](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5192454/64.txt)

[2020-09-09 05:12] lia-approves commented on #17
Joining as coach :) this looks like an exciting project, can't wait to see where it goes!

[2020-09-09 05:38] yaya870611 commented on #13
![7924572_105110367000_2](https://user-images.githubusercontent.com/70934420/92558686-a9c2e500-f2a1-11ea-88dd-a2a2cf8a38f2.png)

[2020-09-09 05:42] Louisj6 commented on #13
![圖片](https://user-images.githubusercontent.com/70773057/92559016-58672580-f2a2-11ea-80c7-2ee190961960.png)

[2020-09-09 05:45] Louisj6 commented on #13
Jacak, Janusz E., et al. "Quantum random number generators with entanglement for public randomness testing." Scientific Reports 10.1 (2020): 1-9.

[2020-09-09 06:51] alanspace commented on #1
Hello, it's Alan, please add me into the issue, thanks

[2020-09-09 06:58] HuangJunye commented on #1
@alanspace No problem, I added you.

[2020-09-09 07:56] FishGithub123 commented on #25
@JansenZZ  sure

[2020-09-09 08:33] Louisj6 commented on #13
https://qiskit.org/documentation/stubs/qiskit.aqua.components.initial_states.Custom.html#qiskit.aqua.components.initial_states.Custom

[2020-09-09 08:37] MarkCunningham0410 commented on #25
I'll join as a coach too.

[2020-09-09 09:11] Louisj6 commented on #13
https://stackoverflow.com/questions/28005641/how-to-add-a-background-image-into-pygame

[2020-09-09 22:05] ch3cho19941010 commented on #13
![變卦circuit](https://user-images.githubusercontent.com/38750350/92659744-90ff1180-f32b-11ea-8875-bdd45c2c713e.png)

[2020-09-09 22:05] ch3cho19941010 commented on #13
![正卦 circuit](https://user-images.githubusercontent.com/38750350/92659805-ab38ef80-f32b-11ea-8955-92551171270a.png)

[2020-09-09 22:06] ch3cho19941010 commented on #13
![互卦 circuit](https://user-images.githubusercontent.com/38750350/92659824-b1c76700-f32b-11ea-98d9-4916b91738ee.png)

[2020-09-09 22:06] ch3cho19941010 commented on #13
![綜掛circuit](https://user-images.githubusercontent.com/38750350/92659836-b5f38480-f32b-11ea-8116-d824925210ab.png)

[2020-09-09 22:19] ch3cho19941010 commented on #13
![正卦 bar](https://user-images.githubusercontent.com/38750350/92660723-94939800-f32d-11ea-82aa-41b919e3a48c.png)

[2020-09-09 22:19] ch3cho19941010 commented on #13
![綜掛bar](https://user-images.githubusercontent.com/38750350/92660754-a37a4a80-f32d-11ea-98d6-d800c2ad47c5.png)

[2020-09-09 22:20] ch3cho19941010 commented on #13
![變卦 bar](https://user-images.githubusercontent.com/38750350/92660764-aa08c200-f32d-11ea-8afd-4d16c544cb48.png)

[2020-09-09 22:20] ch3cho19941010 commented on #13
![互卦bar](https://user-images.githubusercontent.com/38750350/92660771-ae34df80-f32d-11ea-8b9f-cf1907a583d6.png)

[2020-09-10 01:24] itsuka021 commented on #18
Github repo for our project is
https://github.com/itsuka021/18-Generation_of_stretched_single_qubit_gates_for_Richardson_error_extrapolation

[2020-09-10 03:11] FishGithub123 commented on #25
[12group25.pptx](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5198980/12group25.pptx)

[2020-09-10 03:13] Yi-Huaaa commented on #16
The 2-D Quantum Pattern Matching code has been push on the github as the link:
https://github.com/Yi-Huaaa/2D-pattern-Matching (git@github.com:Yi-Huaaa/2D-pattern-Matching.git)
Besides, the PPT is also here.

[2020-09-10 03:13] darkbtf commented on #16
Quantum Pattern Matching by Grover's Search
https://github.com/darkbtf/quantum-pattern-matching-grover

[2020-09-10 03:13] FishGithub123 commented on #25
This is our presentation, please feel free to leave the comments and suggestions.

[2020-09-10 03:15] EazyReal commented on #17
For the python provider:
https://github.com/EazyReal/NTU-IBMQ-QCamp2020
For the online presentation:
https://docs.google.com/presentation/d/12qB8b8isrDX6qoa1JLLYege99e8Zd4dsNzkInMW8jDs/edit#slide=id.g95d20d5d26_0_20
For the C++ simulator, the proposed paper can be found at :
Bit-Slicing the Hilbert Space: Scaling Up Accurate Quantum Circuit Simulation to a New Level
https://arxiv.org/abs/2007.0930

[2020-09-10 03:19] EazyReal commented on #17
The main issue we encounter now is that after adding the PyBind11 codes, the c++ simulator side fails to link correctly.
But the python provider (which takes a C++ function) and c++ simulator (which provide the simulate function) can individually work well.
Note that the provider can support any simulate function that takes in a QASM formatted string and returns the experiment statistics and the s

[2020-09-10 03:26] leo07010 commented on #6
our work link https://github.com/leo07010/-6

[2020-09-10 03:30] Caeures commented on #13
This one is the diagram for Mutual hexagram（互卦）,right?

[2020-09-10 04:10] alanspace commented on #17
It's brilliant!

[2020-09-10 16:30] HuangJunye commented on #19
This project was really cool! Can you share with me the code and slides? Thank you!

[2020-09-10 17:07] treger-8105 commented on #19
[1D-simulation.pdf](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5203471/1D-simulation.pdf)
[maxcut_hamiltonian.zip](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5203478/maxcut_hamiltonian.zip)
[maxcut_hamiltonian_with_loop.zip](https://github.com/qiskit-community/qiskit-hackathon-taiwan-20/files/5203479/maxcut_hamiltonian_with_loop.zip)

File maxcut

[2020-09-10 17:09] HuangJunye commented on #19
非常感謝！

[2020-09-11 03:00] KelvinYang0320 commented on #13
Yes

[2020-09-25 09:33] HuangJunye commented on #1
I am polishing the code and will write a blog post over the weekend. Please let me know if you are interested in writing the blog post.

[2020-09-25 09:46] zuohank commented on #1
sorry,l have a lot of homework this weekend.so,l think l won't have time to
join the blog post.

Junye Huang <notifications@github.com>於 2020年9月25日 週五，下午5:34寫道：

[2020-09-28 17:01] HuangJunye commented on #1
I cleaned up the code, added a menu, change palette to game boy color. Here is the [blog post](https://t.co/pGVEYUplHL?amp=1) and [tweet](https://twitter.com/HuangJunye/status/1310624528544837632). You can play the latest version here: https://kirais.itch.io/qpong